@using eTickets.Data.ViewModels
@model NewShoppingCartVM
@{
    ViewData["Title"] = "ShoppingCart Summary";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <div>
                <h3>
                    Summary of ShoppingCart
                </h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td>Selected Amount</td>
                        <td>Movie</td>
                        <td>Price</td>
                        <td>subtotal</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.shoppingCart.shopingCartItems)
                    {
                        <tr>
                            <td class="align-middle">@item.Amount</td>
                            <td class="align-middle">@item.Movie.Name</td>
                            <td class="align-middle">@item.Movie.price.ToString("c")</td>
                            <td class="align-middle">@((item.Amount*item.Movie.price).ToString("c"))</td>
                            <td class="align-middle">
                                <a class="text-danger  m-1 " asp-route-id="@item.Movie.Id"
                                   asp-action="DeleteShoppingCart" asp-controller="Orders">
                                    <i class="bi bi-cart-dash"></i>
                                </a>
                                |
                                <a class=" text-success m-1" asp-route-id="@item.Movie.Id"
                                   asp-action="AddToShoppingCart" asp-controller="Orders">
                                    <i class="bi bi-cart-plus"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td><b>Total:</b></td>
                        <td>@Model.ShoppingCartTotal.ToString("c")</td>
                        <td></td>
                    </tr>
                    <div class="text-right">
                        <a class=" btn btn-outline-success" asp-action="index" asp-controller="Movies">Add more items</a>
                    </div>
                </tfoot>
            </table>
        <div class="text-center">
            <div>
                    @*<a class=" btn btn-outline-primary" asp-action="OrderCompleted">CompleteOrder</a>*@
                    <div id="paypal-container-NSYEZSHP72C9C"></div>
                    <a asp-action="OrderCompleted" asp-controller="Orders" class="btn btn-outline-success">Testing</a>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <div style="margin-left:672px">
        <style>
            .pp-NSYEZSHP72C9C {
                text-align: center;
                border: none;
                border-radius: 1.5rem;
                min-width: 11.625rem;
                padding: 0 2rem;
                height: 2.625rem;
                font-weight: bold;
                background-color: #FFD140;
                color: #000000;
                font-family: "Helvetica Neue",Arial,sans-serif;
                font-size: 1rem;
                line-height: 1.25rem;
                cursor: pointer;
                display:block;
                margin:0 auto;
            }</style>
        <form action="https://www.paypal.com/ncp/payment/NSYEZSHP72C9C" method="post" target="_top" style="display:inline-grid;justify-items:center;align-content:start;gap:0.5rem;">
            <input class="pp-NSYEZSHP72C9C" type="submit" value="Buy Now" />
            <img src=https://www.paypalobjects.com/images/Debit_Credit_APM.svg alt="cards" />
            <section> Powered by <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="paypal" style="height:0.875rem;vertical-align:middle;" /></section>
        </form>
    </div>
}
